
/* LOADING -------------------------------------------------------------------- */
#loadingtext{
  margin-top: 9.4rem;
  margin-left: -9.4rem;
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 9999;
}
/* HEADER --------------------------------------------------------------------- */
header{
  background-color:  rgb(40, 155, 184);
  /* background-image: url(avilawhite2.png); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0  100%;
  height: 100vh;
  margin-top: 6.25rem;
  position: relative;
  overflow: hidden;
}
h1{
  color: black;
  font-size: 7rem;
  margin: 0;
  padding-bottom: 0;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
.subtitle {
  color: black;
  font-style: oblique;
  font-size: 3rem;
  max-width: 60%;
  padding-bottom: 1.875rem;
  padding-top: 0;
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
}
img.header{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}
/* ARROW----------------------------------------------------------------------- */
a.fa {
  color: black;
  text-decoration: none;
  font-size: 4rem;
}
.arrow {
  text-align: center;
  margin: 10vh 0 0 0;
}
/* NAV BAR -------------------------------------------------------------------- */
li.nav a {
    font-size: 3rem;
    display: block;
    color: #39392f;
    text-align: center;
    padding:  0.875rem 1rem;
    text-decoration: none;
    font-weight: bold;
}
#hamburger{
  position: relative;
  visibility:  visible;
}
li.nav a:hover:not(.active) {
    background-color: transparent;
    color: black;
}
#nav1 , #nav2 , #nav3 ,#nav4, #nav-home{
  position: absolute;
  background-color: rgb(255, 241, 208);
  width: 100%;
  margin: 0rem;
  border-top: 1px solid #555;
  padding: 2rem  0;
  visibility: hidden;
}
#nav-home{
  top: 6rem;
}
#nav1{
  top: 16rem;
}
#nav2{
  top: 26rem;
}
#nav3{
  top: 36rem;
}
#nav4{
  top: 46rem;
}
.showing{
  animation: reappear 1s ease-in 0s forwards;
}
@keyframes reappear {
  100% {
    visibility: visible;
  }
}
/* HISTORIA GENERAL ----------------------------------------------------------- */
p.historia{
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  text-align: justify;
}
/* HISTORIA DALMATA ----------------------------------------------------------- */
.mickey{
  margin-bottom: 1.87rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  /*  1fr  3fr  2fr  1fr */
    "  .  left  left   .  "
    "  .    .   top    .  "
    "  . center center .  "
    "  .  right right  .  "
}
p.left{
  width: 100%;
  font-size: 2.5rem;
  font-style: italic;
  padding-left: 0rem;
}
/* HISTORIA WINDOW ------------------------------------------------------------ */
.window{
  margin-top: 5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". window-left ."
  ". window-right ."
}
.franja-dos{
  display: inline-block;
  background-color: #6593a3;
  width: 100%;
  padding: 0rem;
  margin-bottom: 3.12rem;
  border-radius: 0%;
  overflow: hidden;
}
.historia-img-cinco{
  width: 100%;
  margin-top: 3.12rem;
  position: relative;
  top: 1rem;
  z-index: -2;
}
.historia-img-seis{
  width: 25rem;
  margin-right: 0rem;
  position: absolute;
  top: 16.7rem;
  right: calc(50% - 18.75rem);
}
.historia-img-siete{
  width: 25rem;
  margin-right: 0rem;
  position: absolute;
  top: 0rem;
  right: calc(50% - 18.75rem);
}
.window p.historia{
  color: rgb(40, 155, 184);
  font-size: 2.125rem;
  text-align: center;
  padding: inherit 0rem;
}
/* RECETAS */
.container-general .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
}
.wrap-effect-2 .item:active {
  transform: translate3d(0, 0, 100px);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  background-position: 50% 2rem;
  background-size: 10%;
  color: white;
}
.swiper-slide h2{
  margin-top: 30%;
}
.receta{
  padding: 0rem 1rem;
  font-weight: bold;
  font-size: 2rem;
}
