/*
Font-family: Arial;
           current color palette vvvvvvvvvvvvvv
Header background -------------> (68, 98, 122)
extra brown -------------------> (129,86,55)
nav rgb(40, 155, 184) ------> #5d907c
footer rgb(55, 55, 55) --------> #39392f (57, 57, 47)


font color rgb(81, 187, 214)
nav rgb(236, 236, 235)
Top of header rgb(81, 85, 88)
/* GENERAL------------------------------------------------ */
*:root {
  --main-color: rgb(40, 155, 184);
}
*{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
body{
  margin: 0;
  background-color: #ffffff;
}
h3{
  font-weight: bold;
  font-size: 1.25rem;
}
h4{
  font-weight: normal;
  font-size:0.9rem;
}
p{
  font-size: 0.9rem;
}
/* LOADING ------------------------------------------------*/
#loadingimg{
  width:300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -130px;
  z-index: 9999;
  animation: loading 3s 0s infinite;
}
@keyframes loading {
   from {
    transform: scaleX(-1);
  }
  to {
    transform: scaleX(1);
  }
}
#loadingtext{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  margin-left: -150px;
  z-index: 9999;
}
/* NAV BAR ----------------------------------------------- */
nav.nav {
  font-family: 'Orbitron', sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: -6.25rem;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(255, 241, 208);
    display: flex;
    justify-content: center;
}
li.nav {
    float: left;
}
/* add / between nav
nav a::before {
    content: "/";
    padding: 0 1rem;
}
nav a::before {
  content: ''; */
li.nav a {
    display: block;
    color: #39392f;
    text-align: center;
    padding:  0.875rem 1rem;
    text-decoration: none;
    font-weight: bold;
}
li.nav a:hover:not(.active) {
    background-color: #111;
    color: white;
}
/* HEADER ------------------------------------------------ */
header{
  position: relative;
  background-color: rgb(135,206,235,.6);
  overflow: hidden;
  margin-top: 6.25rem;
  height: 50rem;
  position: relative;
  background-image: url(avilawhite2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0  17.5rem;
}
h1{
  position: relative;
  text-transform: uppercase;
  font-size: 3.75rem;
  color: black;
  margin: 0;
  padding-bottom: 0;
  text-align: center;
}
.subtitle {
  color: black;
  font-style: oblique;
  font-size: 1.875rem;
  max-width: 40%;
  padding-bottom: 1.875rem;
  overflow: auto;
  padding-top: 0;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.opaque{
  position: relative;
  background-color: #000;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 - 3.125rem;
}
img.logo{
  width: 17.5rem;
  color: white;
  margin: 0;
  padding: 0;
}
img.header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.875rem;
  width: 25%;
}
/* ACERCA ------------------------------------------------ */
div.acercacontainer{
  padding-bottom: 12.5rem;
  background-image: url(avilablue.png);
  background-repeat: no-repeat;
  background-size: right;
  background-position: 0 31.25rem;
  margin-bottom: 0px;
  position: relative;
}
main.acerca{
  max-width: 50%;
  max-height: 50rem;
  margin-left: 10%;
  justify-content: flex-start;
  padding:  1.25rem;
  padding-bottom:  1.25rem;
  margin-bottom: 10%;
  margin-right: 10%;
  overflow: auto;
  /* background-color: lightgrey; */
  border-radius: 0.625rem;
  margin-top:  3.125rem;
}
a.intext{
  text-decoration: none;
  color: var(--main-color);
  font-size:  0.9rem;
}
h4.comment{
  font-size: 1.375rem;
  color: var(--main-color);
  padding: 1.875rem 0;
}
h3.blue{
  color: var(--main-color);
  font-size: 1.25rem;
}
/* ASIDE --------------------------------------------------*/
.news{
    background-color: lightgrey;
    float: right;
    max-width: 20%;
    margin-right: 12%;
    padding:  1.25rem;
    overflow: auto;
    border-radius: 0.625rem;
    margin-top:  3.125rem;
    margin-bottom:  3.125rem;
}
a.aside{
  text-decoration: none;
  color: var(--main-color);
}
a.aside:hover:not(.active) {
    background-color: #111;
    color: white;
}
img.tango{
  width: 17.5rem;
}
/* PRODUCTOS --------------------------------------------- */
div.productoscontainer{
  background-image: url(avilawhite2.png);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: -105rem 110rem;
  margin-bottom: 0px;
  position: relative;
}
p.productos{
  font-size: 1.125rem;
  padding:  1.25rem;
}
h2.productos{
  color: #383838;
  font-size: 2.125rem;
  text-align: center;
}
h3.productos{
  color: var(--main-color);
  font-size: 1.5rem;
  padding-left:  1.25rem;
}
div.productoscontainer{
  background-color: #6795a6;
  margin-top: 0;
  padding-top: 0.625rem;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
main.productos{
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding:  1.25rem;
  margin-top:  3.125rem;
  margin-bottom: 0px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
article.productospollo{
  width: 45%;
  height6rem;
  padding-bottom: 0;
  margin:0 0 5% 0;
  background-color: lightgrey;
  border: 0.625rem #006ab0 solid;
  border-radius: 0.625rem;
  position: relative;
}
article.productoscasera{
  width: 45%;
  height: 56rem;
  padding-bottom: 0;
  margin:0 0 5% 0;
  background-color: lightgrey;
  border: 0.625rem #ab629d solid;
  border-radius: 0.625rem;
  position: relative;
}
article.productospremium{
  width: 45%;
  height: 56rem;
  padding-bottom: 0;
  margin:0 0 20rem 0;
  background-color: lightgrey;
  border: 0.625rem #ffc365 solid;
  border-radius: 0.625rem;
  position: relative;
}
article.productosbarf{
  width: 45%;
  height: 56rem;
  padding-bottom: 0;
  margin:0 0 20rem 0;
  background-color: lightgrey;
  border: 0.625rem #aadc65 solid;
  border-radius: 0.625rem;
  position: relative;
}
img.comida{
  padding-top: auto;
  margin: 0;
  height: 16.56rem;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
ul.comida{
  list-style-type: none;
  text-indent: -3em;
  margin-left: 1rem;
  justify-content: center;
}
.icono{
  width: 1.25rem;
  padding: 0 1rem;
}
/* SILUETA PERROS--------------------------------------------- */
div.trans{
  background-color: white;
  width: auto;
  margin-top:  0;
  padding-top: 0;
}
img.trans{
  width: 50vw;
  margin: 0px;
  padding: 0px;
  position: relative;
  bottom: -2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* DONDE COMPRAR -------------------------------------------- */
div.comprarcontainer{
  background-color: #ffffff;
}
p.productos{
  font-size: 1.125rem;
  padding:  1.25rem;
}
h2.comprar{
  color: #383838;
  font-size: 2.125rem;
  text-align: center;
}
main.comprar{
  max-width: 100%;
  max-height: 50rem;
  margin-left: 10%;
  justify-content: flex-start;
  padding:  1.25rem;
  padding-bottom:  1.25rem;
  margin-bottom: 10%;
  margin-right: 10%;
  overflow: auto;
  text-align: center;
  background-color: lightgrey;
  border-radius: 0.625rem;
  margin-top:  3.125rem;
}
/* FOOTER ----------------------------------------------------*/
footer{
background-color: #383838;
padding-top: 4.375rem;
padding-bottom: 2.5rem;
text-align: center;
}
ul.containerfooter{
  padding:  1.25rem;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  width: 97%;
}
li.footer{
  text-decoration: none;
  list-style-type: none;
  float: left;
}
a.footer {
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}
a.firstfooter {
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}
a.footer::before {
    content: "/";
    padding: 0 1rem;
}
p.footertext{
  max-width: 100%;
  color: white;
}
p.footertexttwo{
  max-width: 100%;
  color: white;
  padding-top: 2.5rem;
}
/* ARROW----------------------------------------------------- */
body { background: @bg;}
a.fa {
  color: black;
  text-decoration: none;
  font-size: 1.875rem;
}
.arrow {
  text-align: center;
  margin: 8rem 0 0 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.875rem);
  }
  60% {
    transform: translateY(-0.9375rem);
  }
}
