
/* Font-family: Arial;
           current color palette vvvvvvvvvvvvvv
Header background -------------> (68, 98, 122)
extra brown -------------------> (129,86,55)
nav rgb(40, 155, 184) ------> #5d907c
footer rgb(55, 55, 55) --------> #39392f (57, 57, 47)

font color rgb(81, 187, 214)
nav rgb(236, 236, 235)
Top of header rgb(81, 85, 88)
main color rgb(40, 155, 184) */

/* GENERAL--------------------------------------------------------------------- */
*{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
body{
  background-color: #ffffff;
  margin: 0;
}
h3{
  font-weight: bold;
  font-size: 1.25rem;
}
h4{
  font-weight: normal;
  font-size:0.9rem;
}
p{
  font-size: 0.9rem;
}
/* LOADING -------------------------------------------------------------------- */
#loadingimg{
  width:18.75rem;
  height: 18.75rem;
  margin-top: -9.4rem;
  margin-left: -8.12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: loading 3s 0s infinite;
  z-index: 9999;
}
@keyframes loading {
   from {
    transform: scaleX(-1);
  }
  to {
    transform: scaleX(1);
  }
}
#loadingtext{
  margin-top: 9.4rem;
  margin-left: -9.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
/* NAV BAR -------------------------------------------------------------------- */
nav.nav {
  font-family: 'Orbitron', sans-serif;
  margin-top: -6.25rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}
ul.nav {
    background-color:  rgb(255, 241, 208);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
li.nav {
    float: left;
}
li.nav a {
    display: block;
    color: #39392f;
    text-align: center;
    padding:  0.875rem 1rem;
    text-decoration: none;
    font-weight: bold;
}
li.nav a:hover:not(.active) {
    background-color: #111;
    color: white;
}
/* HEADER --------------------------------------------------------------------- */
header{
  background-color: transparent;
  background-image: url(avilawhite2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0  17.5rem;
  height: 50rem;
  margin-top: 6.25rem;
  position: relative;
  overflow: hidden;
}
h1{
  color: black;
  font-size: 3.75rem;
  margin: 0;
  padding-bottom: 0;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
.subtitle {
  color: black;
  font-style: oblique;
  font-size: 1.875rem;
  max-width: 40%;
  padding-bottom: 1.875rem;
  padding-top: 0;
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
}
.opaque{
  background-color: #000;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0  -3.125rem;
  position: relative;
}
img.logo{
  color: white;
  width: 17.5rem;
  margin: 0;
  padding: 0;
}
img.header{
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.875rem;
}
/* ACERCA --------------------------------------------------------------------- */
/* div.acercacontainer{
  padding-bottom: 12.5rem;
  background-image: url(avilablue.png);
  background-repeat: no-repeat;
  background-size: right;
  background-position: 0 31.25rem;
  margin-bottom: 0rem;
  position: relative;
} */
/* SILUETA PERROS-------------------------------------------------------------- */
div.trans{
  background-color: white;
  width: auto;
  margin-top:  0;
  padding-top: 0;
}
img.trans{
  display: block;
  width: 50vw;
  margin: 0rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem;
  position: relative;
  bottom: -2.5rem;
}
/* FOOTER --------------------------------------------------------------------- */
footer{
  background-color: #383838;
  padding-top: 4.375rem;
  padding-bottom: 2.5rem;
  text-align: center;
}
ul.containerfooter{
  width: 97%;
  font-size: 0.9375rem;
  padding:  1.25rem;
  display: flex;
  justify-content: center;
}
li.footer{
  text-decoration: none;
  list-style-type: none;
  float: left;
}
a.footer , a.footer-slash{
  color: white;
  text-decoration: none;
  font-weight: bold;
  list-style-type: none;
}
a.footer:hover , a.footer-slash:hover{
  color: rgb(40, 155, 184);
}
.footer-slash::before {
    content: "/";
    padding: 0 1rem;
    color: white;
}
p.footertext{
  max-width: 100%;
  color: white;
}
/* ARROW----------------------------------------------------------------------- */
a.fa {
  color: black;
  text-decoration: none;
  font-size: 1.875rem;
}
.arrow {
  text-align: center;
  margin: 8rem 0 0 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.875rem);
  }
  60% {
    transform: translateY(-0.9375rem);
  }
}
/* HISTORIA GENERAL------------------------------------------------------------ */
.historia-container{
  text-align: center;
  height: auto;
  overflow: hidden;
  margin: 0rem;
}
p.historia{
  font-size: 1.5rem;
  font-style: italic;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}
h2.historia-enfoque{
  color: rgb(40, 155, 184);
  font-size: 2.125rem;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}
/* HISTORIA PUG --------------------------------------------------------------- */
.franja{
  background-color: #6593a3;
  width: 100%;
  height: 24rem;
  justify-content: center;
  overflow: hidden;
}
.arrow-up{
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-left: 1.88rem solid transparent;
  border-right: 1.88rem solid transparent;
  border-top: 1.88rem solid white;
}
.historia-img-uno{
  width: auto;
  max-width: 18.75rem;
  margin-top: 3.12rem;
  margin-bottom: 3.12rem;
  position: absolute;
  top: 3.12rem;
  right: calc(50% - 10.62rem);
}
.historia-img-dos{
  width: auto;
  max-width: 37.5rem;
  margin-top: 3.12rem;
  margin-bottom: 3.12rem;
  position: relative;
  top: 0;
  -webkit-animation: spin 7s infinite linear;
  animation: spin 7s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
/* HISTORIA DALMATA ----------------------------------------------------------- */
.historia-img-cuatro{
  grid-area: top;
}
p.left{
  grid-area: left;
}
p.right{
  grid-area: right;
}
.historia-img-tres{
  grid-area: center;
}
.mickey{
  margin-bottom: 1.87rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  /*  1fr  3fr  3fr  3fr    3fr   3fr  1fr */
    "  .    .    .    .     top    .    .  "
    "  .  left left center   .     .    .  "
    "  .  left left center right right  .  "
    "  .    .    .  center right right  .  "
}
.historia-img-cuatro{
  width: 3.12rem;
  margin-bottom: 1.87rem;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(15deg);}
    50%{-webkit-transform: rotate(-15deg)}
    100%{-webkit-transform: rotate(15deg);}
}

@keyframes swinging{
    0%{transform: rotate(15deg);}
    50%{transform: rotate(-15deg)}
    100%{transform: rotate(15deg);}
}
p.left{
  width: 100%;
  font-size: 2.5rem;
  font-style: italic;
  padding-left: 5rem;
}
p.right{
  width: 100%;
  font-size: 2.5rem;
  font-style: italic;
  padding-right: 5rem;
  margin-right: 1rem;
}
.historia-img-tres{
  width: 25rem;
  padding: 0;
  margin: 0;
  /* shape-outside: url(dalmata.png);
  shape-image-threshold: 0.1rem; */
}
/* HISTORIA WINDOW ------------------------------------------------------------ */
.window p.historia{
  grid-area: window-right;
}
.franja-dos{
  grid-area: window-left;
}
.window{
  margin-top: 5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr .5fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". window-left . window-right . "
}
/* salt ----------------------------------------------------------------------- */
.salt1{
  font-size: 3rem;
  left: 60%;
  animation-delay: 1s;
}
.salt2{
  font-size: 2rem;
  left: 62%;
  animation-delay: .5s;
}
.salt3{
  font-size: 3rem;
  left: 65%;
  animation-delay: .8s;
}
.salt4{
  font-size: 2rem;
  left: 58%;
  animation-delay: 1.2s;
}
.salt5{
  font-size: 3rem;
  left: 60%;
  animation-delay: 2s;
}
.salt6{
  font-size: 2rem;
  left: 62%;
  animation-delay: 1s;
}
.salt7{
  font-size: 3rem;
  left: 65%;
  animation-delay: 1.6s;
}
.salt8{
  font-size: 2rem;
  left: 58%;
  animation-delay: 2.4s;
}
.salt9{
  font-size: 1rem;
  left: 63%;
  animation-delay: 1.2s;
}
.salt10{
  font-size: 2rem;
  left: 64%;
  animation-delay: .7s;
}
.salt11{
  font-size: 3rem;
  left: 59%;
  animation-delay: .4s;
}
.salt12{
  font-size: 1rem;
  left: 58%;
  animation-delay: 1.6s;
}
.salt13{
  font-size: 3rem;
  left: 60%;
  animation-delay: .3s;
}
.salt14{
  font-size: 2rem;
  left: 62%;
  animation-delay: 1s;
}
.salt15{
  font-size: 1rem;
  left: 65%;
  animation-delay: 1.6s;
}
.salt16{
  font-size: 2rem;
  left: 58%;
  animation-delay: 2.4s;
}
.salt [class^="salt"]{
  color: white;
  position: absolute;
  top: -25rem;
  animation-name: fallingSalt;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  z-index: -1;
}
@keyframes fallingSalt {
  from{
    top: -12.5rem;
  }
  to{
    top: 12.5rem;
  }
}
/* HISTORIA WINDOW cont ------------------------------------------------------  */
.window p.historia{
  margin: 0rem;
  padding: 0rem;
  font-size: 2.5rem;
}
.franja-dos{
  background-color: #6593a3;
  width: auto;
  padding: 0rem;
  margin-bottom: 3.12rem;
  border-radius: 10%;
  overflow: hidden;
}
.historia-img-cinco{
  width: 37.5rem;
  margin-top: 3.12rem;
  position: relative;
  top: 0.6rem;
  z-index: -2;
}
.historia-img-seis{
  width: 25rem;
  margin-right: 0rem;
  position: absolute;
  top: 15.7rem;
  right: calc(50% - 18.75rem);
}
.historia-img-siete{
  width: 25rem;
  margin-right: 0rem;
  position: absolute;
  top: -0.06rem;
  right: calc(50% - 18.75rem);
}
/* IMAGE GRID ----------------------------------------------------------------  */
#photos {
  margin: 3.12rem 10% 6rem 10%;
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap:   0rem;
  -moz-column-count:    4;
  -moz-column-gap:      0rem;
  column-count:         4;
  column-gap:           0rem;
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
.enviar-foto{
  display: block;
  background-color: rgb(40, 155, 184);
  color: white;
  font-size: .8rem;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  padding: .5rem 4rem;
  margin: .5rem auto;
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;
}
.enviar-foto:hover {
  background: #555555;
  color: white;
}
h2.foto-enfoque{
  color: #5555;
  font-size: 2rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
/* HISTORIA RECETAS GRID 1 ---------------------------------------------------- */
#historia-img-ocho{
  grid-area: logo-left;
}
#historia-img-once{
  grid-area: logo-right;
}
ul.comida-uno{
  grid-area: text-left;
}
ul.comida-dos{
  grid-area: text-right;
}
#top{
  grid-area: arrow-one;
}
#franja-tres{
  background-color: #6593a3;
  width: 100%;
  height: 13rem;
  margin-bottom: 0rem;
  margin-top: 5rem;
  justify-content: center;
  overflow: hidden;
  position:relative;
  display: grid;
  grid-template-columns: 3fr 3fr 4fr 1fr 4fr 3fr 3fr ;
  grid-template-rows: auto;
  grid-template-areas:
  ". text-left logo-left arrow-one logo-right text-right . "

}
/* HISTORIA RECETAS GRID 2 ---------------------------------------------------- */
#historia-img-nueve{
  grid-area: logo2-left;
}
#historia-img-diez{
  grid-area: logo2-right;
}
ul.comida-tres{
  grid-area: text2-right;
}
ul.comida-cuatro{
  grid-area: text2-left;
}
#bot{
  grid-area: arrow-two;
}
#franja-cuatro{
  width: 100%;
  height: 13rem;
  margin-bottom: 5rem;
  margin-top: 0rem;
  background-color: #555;
  justify-content: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 3fr 4fr 1fr 4fr 3fr 3fr ;
  grid-template-rows: auto;
  grid-template-areas:
  ". text2-left logo2-left arrow-two logo2-right text2-right ."
}
/* HISTORIA RECETAS cont ------------------------------------------------------ */
.recetas img{
  width: 400px;
  padding: 1rem 0rem;
  margin: 2rem 0rem;
}
#bot{
  border-top: 1.88rem solid #6593a3;
}
ul[class^="comida"]{
  color: white;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
  opacity: 0;
}
ul[class^="comida"] li p {
  font-size: .7rem;
}
.comida-uno , .comida-cuatro{
  text-align: left;
}
.comida-dos , .comida-tres{
  text-align: right;
}
ul.comida-uno li p{
  font-size: .6rem;
}
ul.visible{
  animation: appear 3s ease-in 0s forwards;
}
@keyframes appear {
  100% {
    opacity: 100;
  }
}
/* BOTONES */
ul.bot {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
li.bot {
  float: left;
}
li.bot a {
  background-color: rgb(40, 155, 184);
  display: block;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding:  .875rem 1rem;
  margin: 2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5%;
}
li.bot a:hover:not(.active) {
  color: #555;
}
#left-arrow-text{
  padding-right: 2rem;
}
#right-arrow-text{
  padding-left: 1.5rem; 
}
#left-arrow::before{
  content: " ";
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2.3rem solid transparent;
  border-right: 2.3rem solid rgb(40, 155, 184);
  border-top: 2.3rem solid transparent;
  position: absolute;
  top: 2.1rem;
  left: -.2rem;
}
#right-arrow::after{
  content: " ";
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2.3rem solid transparent;
  border-left: 2.3rem solid rgb(40, 155, 184);
  border-top: 2.3rem solid transparent;
  position: absolute;
  top: 2.1rem;
  right: -.2rem;
}
