/*
Font-family: Arial;
           current color palette vvvvvvvvvvvvvv
Header background -------------> (68, 98, 122)
extra brown -------------------> (129,86,55)
nav rgb(40, 155, 184) ------> #5d907c
footer rgb(55, 55, 55) --------> #39392f (57, 57, 47)


font color rgb(81, 187, 214)
nav rgb(236, 236, 235)
Top of header rgb(81, 85, 88)
/* GENERAL------------------------------------------------ */
*:root {
  --main-color: rgb(40, 155, 184);
}
*{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
body{
  margin: 0;
  background-color: #ffffff;
}
h3{
  font-weight: bold;
  font-size: 1.25rem;
}
h4{
  font-weight: normal;
  font-size:0.9rem;
}
p{
  font-size: 0.9rem;
}
/* LOADING ------------------------------------------------*/
#loadingimg{
  width:18.75rem;
  height: 18.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9.4rem;
  margin-left: -8.12rem;
  z-index: 9999;
  animation: loading 3s 0s infinite;
}
@keyframes loading {
   from {
    transform: scaleX(-1);
  }
  to {
    transform: scaleX(1);
  }
}
#loadingtext{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 9.4rem;
  margin-left: -9.4rem;
  z-index: 9999;
}
/* NAV BAR ----------------------------------------------- */
nav.nav {
  font-family: 'Orbitron', sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: -6.25rem;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(255, 241, 208);
    display: flex;
    justify-content: center;
}
li.nav {
    float: left;
}
/* add / between nav
nav a::before {
    content: "/";
    padding: 0 1rem;
}
nav a::before {
  content: ''; */
li.nav a {
    display: block;
    color: #39392f;
    text-align: center;
    padding:  0.875rem 1rem;
    text-decoration: none;
    font-weight: bold;
}
li.nav a:hover:not(.active) {
    background-color: #111;
    color: white;
}
/* HEADER ------------------------------------------------ */
header{
  position: relative;
  background-color: transparent;
  overflow: hidden;
  margin-top: 6.25rem;
  height: 50rem;
  position: relative;
  background-image: url(avilawhite2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0  17.5rem;
}
h1{
  position: relative;
  text-transform: uppercase;
  font-size: 3.75rem;
  color: black;
  margin: 0;
  padding-bottom: 0;
  text-align: center;
}
.subtitle {
  color: black;
  font-style: oblique;
  font-size: 1.875rem;
  max-width: 40%;
  padding-bottom: 1.875rem;
  overflow: auto;
  padding-top: 0;
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.opaque{
  position: relative;
  background-color: #000;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 - 3.125rem;
}
img.logo{
  width: 17.5rem;
  color: white;
  margin: 0;
  padding: 0;
}
img.header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.875rem;
  width: 25%;
}
/* ACERCA ------------------------------------------------ */
div.acercacontainer{
  padding-bottom: 12.5rem;
  background-image: url(avilablue.png);
  background-repeat: no-repeat;
  background-size: right;
  background-position: 0 31.25rem;
  margin-bottom: 0rem;
  position: relative;
}
/* main.acerca{
  max-width: 50%;
  max-height: 50rem;
  margin-left: 10%;
  justify-content: flex-start;
  padding:  1.25rem;
  padding-bottom:  1.25rem;
  margin-bottom: 10%;
  margin-right: 10%;
  overflow: auto;
  border-radius: 0.625rem;
  margin-top:  3.125rem;
}
a.intext{
  text-decoration: none;
  color: var(--main-color);
  font-size:  0.9rem;
}
h4.comment{
  font-size: 1.375rem;
  color: var(--main-color);
  padding: 1.875rem 0;
}
h3.blue{
  color: var(--main-color);
  font-size: 1.25rem;
} */
/* ASIDE --------------------------------------------------*/
/* .news{
    background-color: lightgrey;
    float: right;
    max-width: 20%;
    margin-right: 12%;
    padding:  1.25rem;
    overflow: auto;
    border-radius: 0.625rem;
    margin-top:  3.125rem;
    margin-bottom:  3.125rem;
}
a.aside{
  text-decoration: none;
  color: var(--main-color);
}
a.aside:hover:not(.active) {
    background-color: #111;
    color: white;
}
img.tango{
  width: 17.5rem;
} */
/* PRODUCTOS --------------------------------------------- */
div.productoscontainer{
  background-image: url(avilawhite2.png);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: -105rem 110rem;
  margin-bottom: 0rem;
  position: relative;
}
p.productos{
  font-size: 1.125rem;
  padding:  1.25rem;
}
h2.productos{
  color: #383838;
  font-size: 2.125rem;
  text-align: center;
}
h3.productos{
  color: var(--main-color);
  font-size: 1.5rem;
  padding-left:  1.25rem;
}
div.productoscontainer{
  background-color: #6795a6;
  margin-top: 0;
  padding-top: 0.625rem;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
main.productos{
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding:  1.25rem;
  margin-top:  3.125rem;
  margin-bottom: 0rem;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
article.productospollo{
  width: 45%;
  height6rem;
  padding-bottom: 0;
  margin:0 0 5% 0;
  background-color: lightgrey;
  border: 0.625rem #006ab0 solid;
  border-radius: 0.625rem;
  position: relative;
}
article.productoscasera{
  width: 45%;
  height: 56rem;
  padding-bottom: 0;
  margin:0 0 5% 0;
  background-color: lightgrey;
  border: 0.625rem #ab629d solid;
  border-radius: 0.625rem;
  position: relative;
}
article.productospremium{
  width: 45%;
  height: 56rem;
  padding-bottom: 0;
  margin:0 0 20rem 0;
  background-color: lightgrey;
  border: 0.625rem #ffc365 solid;
  border-radius: 0.625rem;
  position: relative;
}
article.productosbarf{
  width: 45%;
  height: 56rem;
  padding-bottom: 0;
  margin:0 0 20rem 0;
  background-color: lightgrey;
  border: 0.625rem #aadc65 solid;
  border-radius: 0.625rem;
  position: relative;
}
img.comida{
  padding-top: auto;
  margin: 0;
  height: 16.56rem;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
ul.comida{
  list-style-type: none;
  text-indent: -3em;
  margin-left: 1rem;
  justify-content: center;
}
.icono{
  width: 1.25rem;
  padding: 0 1rem;
}
/* SILUETA PERROS--------------------------------------------- */
div.trans{
  background-color: white;
  width: auto;
  margin-top:  0;
  padding-top: 0;
}
img.trans{
  width: 50vw;
  margin: 0rem;
  padding: 0rem;
  position: relative;
  bottom: -2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* DONDE COMPRAR -------------------------------------------- */
div.comprarcontainer{
  background-color: #ffffff;
}
p.productos{
  font-size: 1.125rem;
  padding:  1.25rem;
}
h2.comprar{
  color: #383838;
  font-size: 2.125rem;
  text-align: center;
}
main.comprar{
  max-width: 100%;
  max-height: 50rem;
  margin-left: 10%;
  justify-content: flex-start;
  padding:  1.25rem;
  padding-bottom:  1.25rem;
  margin-bottom: 10%;
  margin-right: 10%;
  overflow: auto;
  text-align: center;
  background-color: lightgrey;
  border-radius: 0.625rem;
  margin-top:  3.125rem;
}
/* FOOTER ----------------------------------------------------*/
footer{
background-color: #383838;
padding-top: 4.375rem;
padding-bottom: 2.5rem;
text-align: center;
}
ul.containerfooter{
  padding:  1.25rem;
  font-size: 0.9375rem;
  display: flex;
  justify-content: center;
  width: 97%;
}
li.footer{
  text-decoration: none;
  list-style-type: none;
  float: left;
}
a.footer {
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}
a.firstfooter {
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}
a.footer::before {
    content: "/";
    padding: 0 1rem;
}
p.footertext{
  max-width: 100%;
  color: white;
}
p.footertexttwo{
  max-width: 100%;
  color: white;
  padding-top: 2.5rem;
}
/* ARROW----------------------------------------------------- */
body { background: @bg;}
a.fa {
  color: black;
  text-decoration: none;
  font-size: 1.875rem;
}
.arrow {
  text-align: center;
  margin: 8rem 0 0 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.875rem);
  }
  60% {
    transform: translateY(-0.9375rem);
  }
}
/* HISTORIA ------------------------------------------------------------ */
.historia-container{
  text-align: center;
  height: auto;
  overflow: hidden;
  margin: 0rem;
}
p.historia{
  font-size: 1.5rem;
  font-style: italic;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}
h2.historia-enfoque{
  color: var(--main-color);
  font-size: 2.125rem;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}
.arrow-up{
  width: 0;
  height: 0;
  border-left: 1.88rem solid transparent;
  border-right: 1.88rem solid transparent;
  border-top: 1.88rem solid white;
  margin-left: auto;
  margin-right: auto;
}

.franja{
  width: 100%;
  height: 24rem;
  background-color: #6593a3;
  overflow: hidden;
  justify-content: center;
}

.historia-img-uno{
  margin-top: 3.12rem;
  margin-bottom: 3.12rem;
  position: absolute;
  top: 3.12rem;
  right: calc(50% - 10.62rem);
  width: 18.75rem;
}
.historia-img-dos{
  width: 37.5rem;
  margin-top: 3.12rem;
  margin-bottom: 3.12rem;
  z-index: -1;
  position: relative;
  top: 0;
  -webkit-animation: spin 7s infinite linear;
  animation: spin 7s infinite linear;
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
.historia-img-cuatro{
  grid-area: top;
  width: 3.12rem;
  margin-bottom: 1.87rem;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(15deg);}
    50%{-webkit-transform: rotate(-15deg)}
    100%{-webkit-transform: rotate(15deg);}
}

@keyframes swinging{
    0%{transform: rotate(15deg);}
    50%{transform: rotate(-15deg)}
    100%{transform: rotate(15deg);}
}
.mickey{
  margin-bottom: 1.87rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    " . . . . top . ."
    ". left left center . . ."
    ". left left center right right ."
    ". . . center right right ."
}
p.left{
  grid-area: left;
  width: 100%;
  padding-left: 5rem;
  font-size: 2.5rem;
  font-style: italic;
}
p.right{
  grid-area: right;
  width: 100%;
  padding-right: 5rem;
  margin-right: 1rem;
  font-size: 2.5rem;
  font-style: italic;
}
.historia-img-tres{
  grid-area: center;
  width: 400px;
  padding: 0;
  margin: 0;
  shape-outside: url(dalmata.png);
  shape-image-threshold: 0.1rem;
}
.window{
  margin-top: 5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr .5fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". window-left . window-right . "
}
.salt1{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 60%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.salt2{
  font-size: 2rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 62%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}
.salt3{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 65%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
}
.salt4{
  font-size: 2rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 58%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
.salt5{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 60%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.salt6{
  font-size: 2rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 62%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.salt7{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 65%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}
.salt8{
  font-size: 2rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 58%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}
.salt9{
  font-size: 1rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 63%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
.salt10{
  font-size: 2rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 64%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: .7s;
  animation-fill-mode: forwards;
}
.salt11{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 59%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}
.salt12{
  font-size: 1rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 58%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}
.salt13{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 60%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}
.salt14{
  font-size: 2rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 62%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.salt15{
  font-family: serif;
  font-size: 1rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 65%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}
.salt16{
  font-family: serif;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: -25rem;
  left: 58%;
  z-index: -1;
  animation: fallingSalt ease-in infinite;
  animation-duration: 6s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}
@keyframes fallingSalt {
  from{
    top: -12.5rem;
  }
  to{
    top: 12.5rem;
  }
}
.window p.historia{
  grid-area: window-right;
  margin: 0rem;
  padding: 0rem;
  font-size: 2.5rem;
}
.franja-dos{
  grid-area: window-left;
  width: auto;
  background-color: #6593a3;
  overflow: hidden;
  border-radius: 10%;
  padding: 0rem;
  margin-bottom: 3.12rem;

}
.historia-img-cinco{
  width: 37.5rem;
  margin-top: 3.12rem;
  z-index: -2;
  position: relative;
  top: 0.6rem;
}
.historia-img-seis{
  width: 25rem;
  position: absolute;
  top: 15.7rem;
  right: calc(50% - 18.75rem);
  margin-right: 0rem;
}
.historia-img-siete{
  width: 25rem;
  position: absolute;
  top: -0.06rem;
  right: calc(50% - 18.75rem);
  margin-right: 0rem;
}

#photos {
  margin: 3.12rem 10% 6rem 10%;
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap:   0rem;
  -moz-column-count:    4;
  -moz-column-gap:      0rem;
  column-count:         4;
  column-gap:           0rem;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
.enviar-foto{
  background-color: var(--main-color);
  border: none;
  border-radius: 0.125rem;
  color: white;
  font-weight: 1000;
  padding: .5rem 4rem;
  text-decoration: none;
  text-align: center;
  font-size: .8rem;
  cursor: pointer;
  display: block;
  margin: .5rem auto;
}
.enviar-foto:hover {
  background: #555555;
  color: white;
}
h2.foto-enfoque{
  color: #5555;
  font-size: 2rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
